html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 35px
}
.korobka{
    color: white;
    padding: 0 100px;
    text-align: center;
    height: 100vh;
    width: 50%;
    margin: 0 15px 0 15px;
}
.research{
    color: white;
    padding: 0 100px;
    text-align: center;
    height: 100vh;
    width: 70%;
    margin: 0 15px 0 15px;
}
.hcenter{
    align-items: center;
}
.wcenter{
   justify-content: center; 
}
.dflex{
    display: flex;
}
.sectionHero{
    background-color: black;
}
img{
    width: 40%;
    z-index: 6;
    
}
.krug{
    z-index: 5;
    position: absolute;
    top: -700px;
    height: 1px;
    width: 1px;
    left: calc(50% + 500px );
    background-color: white;
    box-shadow: 0 0 900px 900px white;
}
.btn{
    background-color: white;
    color: pink;
    font-size: 50px;
    text-decoration: none;
    padding: 10px 30px;
}
nav{
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background-color: white;
}
.link{
    font-size: 30px;
    margin: 0 0 0 50px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.logo{
    cursor: pointer;
    font-size: 30px;
    color: black;
    font-weight: 600;
    border: 1px solid rgb(59, 59, 59);
    padding: 10px 60px;
    text-decoration: none;
}
.logo:hover {
    background-color: pink;
    color: black;
    transition: 0.3s;
}
.right{
    position: absolute;
    right: 80px;
}
.btn_krasiviy{
    background-color: pink;
    color: black;
    padding: 7px 30px;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 30px;
}
.btn_krasiviy:hover{
    background-color: rgb(255, 134, 154);
    color: black;
    box-shadow: 0 0 5px 5px rgb(129, 129, 129);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-content {
    background-color: white;
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
    color: black;
}

.modal-content p {
    font-size: 25px;
    color: black;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
}

